/*
1. zorg ervoor dat alle menu-items horizontaal komen te staan
2. zorg ervoor dat America en Asia niet zichtbaar zijn, maar witruimte in de plaats komt.
3. zorg ervoor dat America en Asia niet zichtbaar zijn, maar geen witruimte in de plaats komt.
*/
body{
    font-family:  monospace;
    font-size: 1.4em;
}
nav  a{
    text-decoration: none;
    color: #6789ab;
}
nav a:hover{
    background-color: #6789ab;
    color: white;
}
nav ul{
    list-style-type: none;
}

nav li{
    display: inline-block;
}
/*
.weg{
    visibility: hidden;
}
*/
.weg{
    display: none;
}

